﻿<%@ Page Title="HTTP 5101-0NA - FINAL PROJECT" Theme="Default Theme" Language="C#" MasterPageFile="~/Site.Master" AutoEventWireup="true" CodeBehind="Default.aspx.cs" Inherits="Final_Project_A_n01330654._Default" %>

<asp:Content ID="BodyContent" ContentPlaceHolderID="MainContent" runat="server">

    <div>
        <h2><%: Title %></h2>
        <h3><a href="ManagePages.aspx">Go to Manage Pages</a></h3>
    </div>
  <%--  <div>
   <%-- <h3>Select your page Theme : </h3>--%>
    <%--    <asp:DropDownList ID="ListBox1" runat="server" AutoPostBack="True" OnTextChanged="ListBox1_SelectedIndexChanged" Width="175px">
                <asp:ListItem>Default Theme</asp:ListItem>
                <asp:ListItem>Dark Theme</asp:ListItem>
                <asp:ListItem>Light Theme</asp:ListItem>
            </asp:DropDownList>--%>
   <%--         <br />
      </div>--%>

</asp:Content>
