﻿<%@ Control Language="C#" AutoEventWireup="true" CodeBehind="Menu-List.ascx.cs" Inherits="Final_Project_A_n01330654.usercontrols.Menu_List" %>


<asp:SqlDataSource 
    runat="server" 
    ID="menu_generate"
    ConnectionString="<%$ ConnectionStrings:final_sql_con %>">
</asp:SqlDataSource>


<ul runat="server" id="menu_container" class="menu"></ul>