﻿
/*.tablerow {
    border-bottom: 1px solid grey;
    transition: background 500ms;
}*/
.tablerow:hover {
        background: #dfe6e9;

}

td, th {
    padding: 15px;
    font-size: 18px;
    text-align:center;
}
td:first-child {
    text-align: left;
}


