﻿
body {
    margin:0;

}
.inputContainer {
    /*margin:25px 0;*/
    padding: 20px 0;
}
.inputButton {
    background-color: #2d2d2d;
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
    padding: 10px;
}
.inputTextbox {
    border: 1px solid black;
    padding: 10px;
    max-width:100%;
}
input {
    background: none;
    border: none;
    text-decoration: none;
}
.textarea {
    height:300px;
}
/*input, select, textarea{
    width:100%;
}*/


p {
    text-align: justify;
}
a{
    text-decoration:none;
    font-size:18px;
    color:#2d2d2d;
}
a:hover{
    text-decoration:none;
    padding:10px;
    background:#2d2d2d;
    color:#fff;
}

#manage-page-row h2{
    float:left;
}
#manage-page-row h3{
    font-size:20px;
    float:right;
    color: black;
}
/*#search-container{
    padding:10px;
    clear:both;
}*/

.published-date {
    font-style: italic;
}

.querybox {
    padding: 20px;
    background: #dfe6e9;
}
.navbar-collapse {
    text-align: center;
    float:right;
}
.menu li {
    display: inline-block;
    padding-top:10px;
    margin-right: 1em;
    font-size: 1.2em;
    list-style:none;
}

.menu a {
    color: #fff !important;
    text-decoration: none;
    padding-right: 1em;
    border-right: 1px solid #2d2d2d;
}
